@CHARSET "UTF-8";

/****************/
/* Balises HTML */
/****************/
body {
	padding: 0; /* padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; */
	margin: 0;
	font: 70% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	color: black;
	background-color: white;
}

a {
	color: black;
	background-color: transparent;
	text-decoration: none;
	display:inline;
}

a.classic {
	color: blue;
	background-color: transparent;
	text-decoration: underline;
}


/************/
/* Bannière */
/************/
.header {
	background: #F2F2F2  0 90%;
    padding: 0;
    margin: 0;
}

.banniere h1 {
	padding: 20px;
    margin: 0;
    text-align: center;
    color: #787878;
    font-size: 150%;
}

.logo {
	left: 0;
    top: -12px;
    margin-top: -65px;
	background: #B5C8E5;
	border: 1px #8c8c83 solid;
}

.etatConnexion{
	position: absolute;
    top: 0.5em;
    right: 1em;
    text-align: center;
	color: #787878;
	
}



/******************/
/* menu déroulant */
/******************/


.menu_deroulant
{
	float:left;
	margin-left: 15%;

}


#menu, #menu ul /* Liste */    
{
        padding : 0; /* pas de marge intérieure */
        margin : 0; /* ni extérieure */
        list-style : none; /* on supprime le style par défaut de la liste */
        line-height : 21px; /* on définit une hauteur pour chaque élément */
        text-align : center; /* on centre le texte qui se trouve dans la liste */
}
 
#menu /* Ensemble du menu */
{
		font-weight : bold; /* on met le texte en gras */       
        font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */
        font-size : 12px; /* hauteur du texte : 12 pixels */
        margin-top : 5px;  
}

#menu a:active  
{
	color:#0C2989;
}

#menu a:hover 
{
	 font-size : 13px;

} 
 
#menu a /* Contenu des listes */
{
        display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
        padding : 0; /* aucune marge intérieure */
        background : #B5C8E5; /* couleur de fond */       
        color : #000; /* couleur du texte */
        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
        width : 144px; /* largeur */
        border: 1px #8c8c83 solid;

}
 
#menu li /* Elements des listes */     
{
        float : left;
        /* pour IE qui ne reconnaît pas "transparent" */
        border-right : 1px solid #fff; /* on met une bordure blanche à droite de chaque élément */

}
 
/* IE ne reconnaissant pas le sélecteur ">" */
html>body #menu li
{
        border-right: 1px solid transparent ; /* on met une bordure transparente à droite de chaque élément */
}
 
#menu li ul /* Sous-listes */
{
        position: absolute; /* Position absolue */
        width: 144px; /* Largeur des sous-listes */
        left: -999em; /* Hop, on envoie loin du champ de vision */
}
 
 
#menu li ul li /* Éléments de sous-listes */
{
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-top : 1px solid #fff; /* on met une bordure blanche en haut de chaque élément d'une sous liste */
}
 
/* IE ne reconnaissant pas le sélecteur ">" */
html>body #menu li ul li               
{
        border-top : 1px solid transparent; /* on met une bordure transparente en haut de chaque élément */
}
 
#menu li ul ul
{
        margin    : -22px 0 0 144px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-left     : 1px solid #fff ; /* Petite bordure à gauche pour ne pas coller ... */     
}
 
/* IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-) */
html>body #menu li ul ul               
{
        border-left     : 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque élément */

}

#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */
{
        left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */

}
 
#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */

}


/*********************/
/* Corps du document */
/*********************/

#corps {
	margin-top: 50px;
	clear:both;
	float: left;
	color: black;
	background-color: #F2F2F2;
	margin-left:15%;
	width: 60%;
	padding: 1% 1% 1% 1%; 
	}

#corps h2 {
	font: bold 120% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	/*
	font: 100% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	*/
	margin: 0 0 5px;
	padding: 0.2em;
	padding-right: 0;
	background-color: #B5C8E5;
	color: #075C8B;
}	
}

/*********************************/
/* Panneau de recherche ou liste */
/*********************************/
.erreur{
	color: red;
	font-weight: bold;
	margin-left: auto;
  	margin-right: auto;
	text-align : center;

}

.panneau {
	float: left;
	clear: both;
	color: black;
	border: 1px solid black;
	background-color: #F2F2F2;
	position: absolute; 
	margin-left:25%;
	width: 50%;
	}

/* Titre */

.panneau h1 {
	font: bold 130% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	/*
	font: 100% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	*/
	margin: 0 0 5px;
	padding: 0.2em;
	padding-right: 0;
	text-align: center;
	background-color: #B8B8B8;
	color: black;
}

.panneau h2 {
	font: bold 120% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	/*
	font: 100% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	*/
	margin: 0 0 5px;
	padding: 0.2em;
	padding-right: 0;
	background-color: #B5C8E5;
	color: #075C8B;
}

.panneau h20 {
	font: bold 120% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	/*
	font: 100% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;

	margin: 0 0 5px;
	/*padding: 0.2em;*/
	padding-right: 0;
	background-color: #F2F2F2;
	color: #075C8B;
}

.panneau h4 {
	font: italic bold 100% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	/*
	font: 100% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;

	margin: 0 0 5px;
	/*padding: 0.2em;*/
	margin-left: 5px;
	background-color: #F2F2F2;
	color: black;
	margin:0 0 0 5px;
}

.panneau h3 {
	font: italic bold 100% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	/*
	font: 100% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	*/
	margin: 0 0 5px;
	padding: 0.2em;
	padding-right: 0;
	background-color: #B5C8E5;
	color: black;
}

.panneau img {
	border : 0;
}
.colonneLabelSimpleLogin
 {
	font: 100% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	float: left;
	width: 45%;
	color: black;
}
.colonneLabelSimple {
	font: 100% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	float: left;
	width: 45%;
	color: black;
}

.colonneInputSimple {
	font: 90% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	float: left;
	/* SUPPRESSION DU WIDTH POUR L'AIDE EN LIGNE
	width: 45%;*/
	color: black;

}

.colonneLabelSimpleLogin .champs{
	padding: 5px 5px 5px 5px; /* padding-top: 0.5em; padding-right: 0px; padding-bottom: 0px; padding-left: 2px; */
	margin-left: 2px;
	text-align: right;
}

.colonneLabelSimple .champs{
	padding: 5px 0 5px 2px; /* padding-top: 0.5em; padding-right: 0px; padding-bottom: 0px; padding-left: 2px; */
	margin-left: 2px;
}


.colonneInputSimple .champs{
	width: auto;
}


/* Ligne de bouton */

.panneau .espaceBouton {
	text-align: center;
	clear : both;
	color: black;
	padding: 0.5em; /* padding-top: 0.5em; padding-right: 0.5em; padding-bottom: 0.5em; padding-left: 0.5em; */
	margin: 1em; /*margin: 1em 1em 1em 1em; */
}

.panneau .bouton {
	font: 90% Tahoma,Verdana,Arial,Helvetica,sans-serif;
	padding: 0.5em 2px 0; /* padding-top: 0.5em; padding-right: 2px; padding-left: 2px; padding-bottom: 0px; */
	padding: 2px;
	margin: 0;
	margin-right: 1em;
	font-weight: bold;
	display: inline;
	/*background-color: #DEDEDE;*/

	background-color: #B5C8E5;
	color: black;
	border: 2px solid #808080;
	text-align : center;
	width :10%;
}

/***************/
/* Formulaire  */
/***************/


.formInfo {
	margin-top: 10px;
	background-color: #EAEAEA;
	padding: 0.5em;
}

.formDomaine {
	margin: 7px 7px 7px 0px;
	background-color: #EAEAEA;	

}

.formEditeur {
	margin: 7px 7px 7px 0px;
	background-color: #EAEAEA;

}

.formMarche {
	margin: 7px 7px 7px 0px;	
	background-color: #EAEAEA;

}
/*** InFO SUP ***/

.formDirection {

	background-color: #EAEAEA;
	float:left;
	margin: 7px 7px 7px 0px;
	
}

.formTechnologies {

	background-color: #EAEAEA;
	float:left;
	margin: 7px 7px 7px 0px;
}

.formResponsablesDsi {

	background-color: #EAEAEA;
	float:left;
	margin: 7px 7px 7px 0px;
}

.formServicesAppliDsi {

	background-color: #EAEAEA;
	float:left;
	margin: 7px 7px 7px 0px;
}

.formCompetences {
	background-color: #EAEAEA;
		float:left;
	margin: 7px 7px 7px 0px;
}

.formComposants {
	
	background-color: #EAEAEA;
	clear:both;
}

.formDocumentation {
	margin-top: 10px;
	background-color: #EAEAEA;
	padding: 0.5em;
}

.formEnvironnement {
	margin-top: 10px;	
	background-color: #EAEAEA;
	padding: 0.5em;
}

.formSup1{
	margin-top: 10px;	
	background-color: #EAEAEA;
	padding: 0.5em;	
}

.formSup2{
	margin-top: 10px;	
	background-color: #EAEAEA;
	padding: 0.5em;	
}

.formSup3{
	margin-top: 10px;	
	background-color: #EAEAEA;
	padding: 0.5em;	
}

.formServeur{
	margin-top: 10px;	
	background-color: #EAEAEA;
	padding: 0.5em;	
}

#melon_refappbundle_applicationtype_documentations{
	margin-top: 10px;	
	background-color: #EAEAEA;
	padding: 0.5em;
}

#melon_refappbundle_applicationtype_environnements{
	margin-top: 10px;	
	background-color: #EAEAEA;
	padding: 0.5em;	
}

#boutonList{
	margin-top: 30px;		
	
}

.btn_ajouter:hover{
	text-decoration: underline;	
	
}

.btn_supprimer:hover{
	text-decoration: underline;		
	
}

/*******************/
/* Administration  */
/*******************/

#AdministrationList li a:hover{
	color:black;
	text-decoration: underline;
}

#boutonAjouterAdmin{
	float:left;
}

#lienEditer{
	display:block;
}

#lienEditer:hover{
	color:black;
	text-decoration: underline;
}

#lienSupprimer{
	display:block;
}

#lienSupprimer:hover{
	color:black;
	text-decoration: underline;
}

#retourList a:hover {
	text-decoration: underline;
}

#retourList {
	float:left;
}

.add {
	float:left;
}

	